


<div class="row">

  <!--controls-->
  <div class="col-lg-3">
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#text" aria-controls="text" role="tab" data-toggle="tab">Text</a></li>
        <li role="presentation"><a href="#art" aria-controls="art" role="tab" data-toggle="tab">Art</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="text">

          <!--textEnter-->
          <p>
            <label for="textInput">Enter Text Below</label>
            <div class="input-group">
              <input id="textInput" type="text" type="text" class="form-control" placeholder="I Do We Do">
              <span class="input-group-btn">
                <button id="textAdd" class="btn btn-default" type="button">Add Text</button>
              </span>
            </div>
          </p>
          <p>
            <button id="textItalic" class="btn btn-default">
              <span class="glyphicon glyphicon-italic"></span>
            </button>
            <button id="textBold" class="btn btn-default">
              <span class="glyphicon glyphicon-bold"></span>
            </button>
          </p>

          <!--chooseFont-->
          <p>
            <label for="chooseFont">Choose a font</label>
            <div class="dropdown" id="font_drop">
              <button id="fontFamily" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" >
                <span class="selection">Helvetica</span>
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#" >Helvetica</a></li>
                <li><a href="#" >Comic Sans MS</a></li>
                <li><a href="#" >Arial</a></li>
                <li><a href="#" >Times New Roman</a></li>
              </ul>
            </div>
          </p>

          <!--textOutline-->
          <p>
            <label for="textOutline">Add an outline</label>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                No Outline
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>
          </p>


        </div>
        <div role="tabpanel" class="tab-pane" id="art">
          <button type="button" class="btn btn-primary btn-lg btn-block">Browse Artwork</button>
          <hr>
          <label class="btn btn-default btn-lg btn-block" for="my-file-selector">
              <input type="file" style="display:none;">
              Upload your own
          </label>

          <div class="drop-container">
            <div class="drop-area">
              <div class="lead text-center">Drag Here to Upload</div>
              <label class="btn btn-default btn-lg btn-block upload" for="my-file-selector">
                  <input type="file" style="display:none;">
                  Click Here to Upload
              </label>
              <small><em class="text-center">
                By uploading an image you agree that you hold the right to reproduce and sell the design.</em></small>
            </div>
          </div>

        </div>

      </div>

      <div class="advanced-controls">
        <p>
          <label><span>Angle:</span> <input type="range" id="angle-control" value="0" min="0" max="360"></label>
        </p>
        <p>
          <label><span>Left:</span> <input type="range" id="left-control" value="150" min="0" max="300"></label>
        </p>
        <p>
          <label><span>Top:</span> <input type="range" id="top-control" value="150" min="0" max="300"></label>
        </p>
        <p>
          <label><span>Scale:</span> <input type="range" id="scale-control" value="1" min="0.1" max="4" step="0.1">
          </label>
          <input type="number" id="scaleValue" value="1" min="0.1" max="4" step="0.1">

        </p>
      </div>
    </div>
  </div>

  <!--canvas-->
  <div class="col-lg-6">
    <section class="canvas-area">
      <div class="canvas-container" style="width: 300px; height: 300px; position: relative; -webkit-user-select: none;">
        <canvas class="upper-canvas " width="300" height="300" style="border: 1px solid rgb(204, 204, 204); position: absolute; width: 300px; height: 300px; left: 0px; top: 0px; -webkit-user-select: none; cursor: default;">
        </canvas>
        <canvas id="c" width="300" height="300" style="border: 1px solid rgb(204, 204, 204); position: absolute; width: 300px; height: 300px; left: 0px; top: 0px; -webkit-user-select: none;" class="lower-canvas"></canvas>

      </div>
    </section>
  </div>

  <!--caseSelector-->
  <div class="col-lg-3">
    <div class="well">
      <h3>Style and Design</h3>

      <!--caseStyle-->
      <p>
        <label for="textOutline">Add an outline</label>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">No Outline
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
      </p>

      <!--caseList-->
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
          <p>...</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="https://i.imgur.com/FgjwPME.png" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Iphone 6s</h4>
                ...
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="https://i.imgur.com/vtKZwB1.png" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Ipad Air 2</h4>
                ...
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="https://i.imgur.com/IDvo98M.png" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Galaxy S6</h4>
                ...
              </div>
            </div>
          </li>
        </ul>
      </div>
      <h5>Base Cost @ 50 Units</h5>
      <h3>$9.10</h3>
      <button id="next" class="btn-lg btn-block btn-success">Next</button>
    </div>

  </div>

</div>
<!-- iphone -->
<!-- https://i.imgur.com/vVDji5h.png  -->
<!-- ipad -->
<!-- https://i.imgur.com/M0MvYo5.png -->
<!-- galaxy -->
<!-- https://i.imgur.com/0dieDzV.png -->
<!-- galaxy small -->
<!-- https://i.imgur.com/IDvo98M.png -->
<!-- ipad -->
<!-- https://i.imgur.com/vtKZwB1.png -->
<!-- iphone -->
<!-- https://i.imgur.com/FgjwPME.png -->
<!-- <label class="btn btn-default btn-lg btn-block" for="my-file-selector">
    <input type="file" style="display:none;">
    Click Here to Upload
</label>
<input type="file" >
<label class="btn btn-primary" for="my-file-selector">
    <input id="my-file-selector" type="file" style="display:none;">
    Button Text Here
</label> -->
