
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart. Please <%= link_to "Get back to index of products", products_path %> and add some cases to your
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>

  <div class="pull-right">
    <h4>Subtotal: $<span class="subtotal"><%= current_order.subtotal %></span></h4>
    <%= link_to "Shipping", carts_checkout_path, class:"btn btn-primary" %>
  </div>


  <div class="shipping pull-left">
  </div>

<% end %>

<!-- TODO Make total_price sum of all total_price_per_item(qty * unit_price)  -->
<!-- <h1>Total price:Order_Total ammount< % = @total %></h1> -->
