

<div class="location-group">
  <div id="location_addr">

  </div>
<div id="location_map" style="display: none">

</div>


<h1>Address Form</h1>


<!-- TODO TAXES   -->
  <!-- <div class="shipping pull-left">
    < % @county_tax = 10 % >
  </div> -->


</div>
