<div class="shopping-cart">
  <%= render 'shopping_cart' %>
  <script>
    $(document).on('ready page:load', function(){
      $('#case').attr('src', localStorage.getItem("imgData"));
    })
  </script>
</div>
