h1 Editing campaign

- form_params = {campaign: @campaign, brands: @brands, cases: @cases, 
  campaign_length_options: @campaign_length_options}
== render 'form', form_params

= link_to 'Back', campaigns_path

javascript:
  CampaignSetup.init({
    caseMinBasePrice: #{Campaign::MIN_BASE_PRICE},
    caseRecommendedPrice: #{@campaign.base_price},
    initialGoalValue: #{@campaign.goal_unit}
  });
