.campaign_link_div {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
.image_center {
  img {
    display: block;
    margin: 0 auto;  
  }
}
.btn-wide {
  width: 100%;
}
.campaign_show {
  
}
.case-option-color {
  display: inline-block;
  border: 1px solid black;
  height: 22px;
  width: 22px;
}

.profit_display {
  font-size: 18px;
  margin-bottom: 5px;
  .text {
    margin-left: 5px;
  }
  #profit_per_case {
    margin-left: 3px;
  } 
}
  