.drop-container {
  margin: 15px 0;
  .drop-area {
    // Without drap drop enabled; default
    border: black 2px solid;
    margin: 0 auto;
    padding: 10px;
    .dragdrop {
      display: none;
    }

    // With drap drop enabled
    &.can_dragdrop {
      border: black 2px dashed;
      .dragdrop {
        display: block;
      }
    }
  }
}
